**/.git
**/.github
**/node_modules
**/dist
**/logs
**/*.log
**/.env
**/.env.*
**/.vscode
**/.idea
**/Dockerfile
**/.dockerignore
**/docker-compose*
**/*.md
**/LICENSE
**/coverage
**/test
**/tests
**/jest.config.*
**/tsconfig.json
**/tsconfig.*.json
**/pnpm-debug.log
**/.prettier*
**/src/**/*.spec.ts
**/src/**/*.test.ts